<div class="ec-left-sidebar ec-bg-sidebar">
    <div id="sidebar" class="sidebar ec-sidebar-footer">

        <div class="ec-brand">
            <a href="/admin" title="Ekka">
                <img class="ec-brand-icon" src="" alt="" />
                <span class="ec-brand-name text-truncate">HOSO</span>
            </a>
        </div>

        <!-- begin sidebar scrollbar -->
        <div class="ec-navigation" data-simplebar>
            <!-- sidebar menu -->
            <ul class="nav sidebar-inner" id="sidebar-menu">
                <!-- Dashboard -->
                <li class="active">
                    <a class="sidenav-item-link" href="/admin">
                        <i class="mdi mdi-view-dashboard-outline"></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                    <hr>
                </li>

                <!-- Vendors -->
               
                <!-- Users -->
                <li class="has-sub">
                    <a class="sidenav-item-link" href="/admin/user-list">
                        <i class="mdi mdi-account-group"></i>
                        <span class="nav-text">Users</span></b>
                    </a>
                </li>

                <!-- Category -->
                <li class="has-sub">
                    <a class="sidenav-item-link" href="/admin/main-category">
                        <i class="mdi mdi-dns-outline"></i>
                        <span class="nav-text">Categories</span> </b>
                    </a>
                   
                </li>

                <!-- Products -->
                <li class="has-sub">
                    <a class="sidenav-item-link" href="/admin/product-list">
                        <i class="mdi mdi-palette-advanced"></i>
                        <span class="nav-text">Products</span></b>
                    </a>
                    <!-- <div class="collapse">
                        <ul class="sub-menu" id="products" data-parent="#sidebar-menu">
                            <li class="">
                                <a class="sidenav-item-link"  href="/admin/addingprod">
                                    <span class="nav-text">Add Product</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="sidenav-item-link" href="/admin/product-list">
                                    <span class="nav-text">List Product</span>
                                </a>
                            </li>                            
                            <li class="">
                                <a class="sidenav-item-link" href="admin/product-detail">
                                    <span class="nav-text">Product Detail</span>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                </li>

                <!-- Orders -->
                <li class="has-sub">
                    <a class="sidenav-item-link" href="/admin/order-list">
                        <i class="mdi mdi-cart"></i>
                        <span class="nav-text">Orders</span></b>
                    </a>
                </li>
                <li class="has-sub">
                    <a class="sidenav-item-link" href="/admin/list-coupon">
                        <i class="mdi mdi-star-half"></i>
                        <span class="nav-text">Coupon</span></b>
                    </a>
                </li>
                <li class="has-sub">
                    <a class="sidenav-item-link" href="/admin/list-banner">
                        <i class="mdi mdi-star-half"></i>
                        <span class="nav-text">Banner</span></b>
                    </a>
                    
                </li>

                <!-- Reviews -->
                <li>
                    <a class="sidenav-item-link" href="/admin/review">
                        <i class="mdi mdi-star-half"></i>
                        <span class="nav-text">Reviews</span>
                    </a>
                </li>

                <!-- Brands -->
               
                <!-- Authentication -->
                

                <!-- Icons -->
                
                <!-- Other Pages -->
                
                      
            </ul>
        </div>
    </div>
</div>
