 <!-- Header Section Begin -->
 <header class="header-section">
    <!-- <div class="header-top">
       
    </div> -->
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="/index">
                            <h2><b>HOSO</b></h2>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="advanced-search">
                        <button type="button" class="category-btn">All Categories</button>
                        <div class="input-group">
                            <input type="text" placeholder="What do you need?">
                            <button type="button"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">   
                        <li class="cart-icon">
                            <a href="#">
                                <i class="fa-regular fa-user"></i>
                                <!-- <span>3</span> -->
                            </a>
                            <div class="cart-hover">
                                <div class="select-button">
                                    <% if(profile) {%> 
                                    <a href="/profile" class="primary-btn view-card"><%=profile.name %> </a>
                                    <a href="/logout" class="primary-btn checkout-btn">LOGOUT</a>
                                    <% }else{ %> 
                                    <a href="/login" class="primary-btn view-card">LOGIN</a>
                                    <a href="/register" class="primary-btn checkout-btn">REGISTER</a>
                                    <% } %> 
                                </div>
                            </div>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="container">
           
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li class="active"><a href="/index">Home</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="#">Collection</a>
                        
                        <ul class="dropdown">
                            <% categoryDetails.forEach(item=>{ %> 
                            <li ><a href="/shop?category=<%= item._id %>"><%=item.name %> </a></li>
                            <% }) %>
                        </ul>
                       
                    </li>
                    <li><a href="/shopping-cart">Cart</a></li>
                    <li><a href="/shopping-wish">Wishlist</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/orders">orders</a></li>
                    
                </ul>
            </nav>
            
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->